ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
}
li::before {
    content: "\2013"; /* Use en dash (–) as bullet points */
    margin-right: 0.5em; /* Add some space between the en dash and the text */
}
body {
    margin: 5% auto;
    background: #f2f2f2;
    color: #000000;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.8;
    max-width: 73%;
    transition: background-color 0.3s, color 0.3s;
}
code { background: white; }
a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}
a:hover { border-bottom: 0; }
.dark-mode {
    background: #000000;
    color: #e0e0e0;
}
.dark-mode a {
    border-bottom: 1px solid #e0e0e0;
    color: #e0e0e0;
}
.dark-mode a:hover {
    border-bottom: 0;
}
.dark-mode code {
    background: #000000;
}

.theme-toggle {
position: fixed;
top: 20px;
right: 20px;
cursor: pointer;
background-color: #00000000;
color: #696969;
font-size: 10px;
}